<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faLocation"></fa-icon>
        </div>
        <div class="value">
            <div class="top">32</div>
            <div class="bottom">Emplacements</div>
        </div>
    </div>
    <div class="widget yellow">
        <div class="icon">
            <fa-icon [icon]="faShop"></fa-icon>
        </div>
        <div class="value">
            <div class="top">40</div>
            <div class="bottom">Points de vente</div>
        </div>
    </div>
    <div class="widget red">
        <div class="icon">
            <fa-icon [icon]="faBoxes"></fa-icon>
        </div>
        <div class="value">
            <div class="top">220</div>
            <div class="bottom">Produits</div>
        </div>
    </div>
    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faMoneyBill"></fa-icon>
        </div>
        <div class="value">
            <div class="top">346928</div>
            <div class="bottom">Revenue Totale</div>
        </div>

    </div>

</div>
<div>
    <div class="chart-container" [chart]="chart"></div>
</div>