<div class="container">
    <div class="product-list">
        <h3>Liste des formes disponibles</h3>
        <button (click)="openDialog(createNewForme())" class="ajouter">Ajouter</button>
        <table>
            <thead>
                <tr class="attributs">
                    <th class="nom">Nom</th>
                    <th class="image">Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="formes$ | async as formes; else noData">
                    <tr *ngFor="let forme of formes" class="attributs">
                        <td>{{ forme.name }}</td>
                        <td><img [src]="forme.image ? forme.image : 'placeholder.jpg'" alt="{{ forme.name }}"
                                width="50"></td>
                        <td>
                            <button class="button-icon" (click)="updateForme(forme)" title="Modifier">
                                <fa-icon [icon]="['fas', 'edit']" class="fa-icon"></fa-icon>
                            </button>
                            <button class="button-icon" *ngIf="forme.id !== undefined" (click)="deleteForme(forme.id)"
                                title="Supprimer">
                                <fa-icon [icon]="['fas', 'trash-alt']" class="fa-icon"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #noData>
                    <tr>
                        <td colspan="3">Aucune forme disponible.</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>